# Python bytecode
**addons/mudanzas_crm/__pycache__/
*addons/mudanzas_crm/.py[cod]
*addons/mudanzas_crm/$py.class

# Odoo session and temp files
addons/mudanzas_crm/filestore/
addons/mudanzas_crm/sessions/
*addons/mudanzas_crm/.log

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/launch.json

# OS metadata
.DS_Store
Thumbs.db

*.conf
*.cfg
.env

# Virtual environments
venv/
.venv/
env/
ENV/
docker-compose.yml

__pycache__/
controllers/__pycache__/
models/__pycache__/
*.pyc
*.pyo
*.py[cod]
*$py.class

filestore/
sessions/

## Prettier
.prettier*
package.json
